@{
    ViewBag.Title = "Use below link for support.";
}
<h2>@ViewBag.Title.</h2>
<br/>

<address>
    London Ontario<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:banfayomi2002@yahoo.com">Support@example.com</a><br />
</address>